*.class
*.war
*.ear

.gradle
/build/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.idea/
*.iws
/out/
.idea_modules/

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
*.launch
.classpath
.buildpath
.target
